<header class="container-fluid">
  <div class="container">
    <nav class="navbar navbar-light row">
      <a class="navbar-brand logo" href="">HAYAMWIKI</a>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="">Рубаи</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Статьи</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Избранное</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Зарегистрироваться</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Войти</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
